@model StockLibrary.Models.Asset;
@using StockLibrary.Models;
@using StockLibrary.Data;



<dl class="row MargTop">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetType.Name) @* dt : pour afficher le nom du champ, ici il affichera 'Nom' *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetType.Name) @* dd : permet d'afficher la valeur du champ, ici il affichera 'PC' *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PropertiesValues)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PropertiesValues)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>  
 </dl>


<form asp-action="Delete_Asset">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
    <a class="btn btn-danger" asp-action="Index">Annuler</a>
</form>
