@model StockLibrary.Data.StockUser;
@using StockLibrary.Data;


<dl class="row MargTop">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.UserName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.UserName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Surname)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Surname)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Email)
    </dd>
</dl>

<hr class="mb-5" />

<div class="mb-4">
    <h4 class="display-7">Rôles</h4>
</div>

<div class="mt-3" style="display:inline">
    <div style="margin-right : 75%">
        <div class="p-0 m-1 mb-3" style="float: right">
            <a class="btn btn-primary" href="@Url.Action()">
                <i class="fs-6 bi-plus-lg"></i>
            </a>
        </div>
    </div>

    <div class="" style="margin-right:80%">

        <table class="table table-striped">

            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(Model => Model.Roles)</th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var item in Model.UserRoles)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Role.Name)</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

<a class="btn btn-success" asp-action="UserIndex"><i class="bi bi-arrow-90deg-left"></i> Retour</a>

