@model IEnumerable<StockLibrary.Models.Accessoire>


@{
    ViewData["Title"] = "Accessoire";
}


<div>
    <h1 class="display-4 text-center" style="margin-right:400px">Accessoire</h1>

    <hr class="mb-5" />

    <div class="p-0 m-1 mb-3">
        <a class="btn btn-primary" style="margin-right : 100%" href="@Url.Action("Create_Accessoire")">Nouveau</a>
    </div>

    <div style="margin-right:70%">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(Model => Model.Name)</th>
                    <th>@Html.DisplayNameFor(Model => Model.Quantite)</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantite)</td>
                            <td>

                                <a href="@Url.Action("Edit_Accessoire", "Accessoire", new{id = item.Name})"><i class="fs-5 bi-pencil-square"></i></a>
                                <a href="@Url.Action("Assign_Accessoire", "Accessoire", new{id = item.Name})"><i class="fs-5 bi-person-add"></i></a>
                                <a href="@Url.Action("Delete_Accessoire", "Accessoire", new{id = item.Name})"><i class="fs-5 bi-trash3"></i></a>
                                @* 
                                Permet d'indiquer l'action, le controlleur et la valeur
                                ca crée ensuite une url en fonction de la nomenclature du Startup
                                *@
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>