@model IEnumerable<StockLibrary.Models.AssetType>

@{
    ViewData["Title"] = "Catégories";
}

<div class="" style="margin-right:400px">
    <h1 class="display-4 text-center">Catégories</h1>

    <!-- FORM-->
    <div class="p-0 m-1 mb-3">
        <a class="btn btn-primary" style="margin-right : 100%" href="@Url.Action("Create")"> Nouveau </a>
    </div>
    <!-- FORM-->

    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Properties)</th>
                <th></th>
            </tr> 
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@string.Join(", ", item.Properties.Select(p => p.Name).ToList())</td>
                    <td>
                        <a href="@Url.Action("Edit","Type",new{id=item.Id})">Modifier</a> |
                        <a href="@Url.Action("Delete","Type",new{id=item.Id})">Supprimer</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>